<h1>Procesamiento de Datos a Gran Escala - John Jairo Corredor </h1>
<h2>Dana Katalina Diaz Diaz - 00020523642</h2>
<h3>Pontificia Universidad Javeriana - Departamento de Ingeniería de Sistemas</h3>

## CALENTAMIENTO:

#### MENOR DE DOS PARES: Escriba una función que devuelva el menor de dos números dados *si* ambos números son pares, pero devuelva el mayor si uno o ambos números son impares
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [43]:
def lesser_of_two_evens(a, b):
    #Usamos el operador mod para verificar si son pares
    if a%2 == 0 and b%2 == 0:
        # Si ambos son pares, devolvemos el menor usando la función min() ya predefinida por python
        return min(a, b)
    else:
        #Si al menos uno es impar,se devuleven los dos
        #Usamos la función max() para obtener el valor más alto
        return max(a, b)

In [2]:
# Revisión
lesser_of_two_evens(2,4)

2

In [3]:
# Revisión
lesser_of_two_evens(2,5)

5

#### GALLETAS DE ANIMALES: Escribir una función que toma una cadena de dos palabras y devuelve True si ambas palabras comienzan con la misma letra
    animal_crackers('Ciudad Calor') --> True
    animal_crackers('Lugar Frio') --> False

In [ ]:
def animal_crackers(text):
  palabras = text.split()#Usamos la función split para dividir el texto
  if (palabras[0][0] == palabras[1][0]): #devolvemos true si coinciden las iniciales
    return True
  else:
    return False

In [13]:
# Revisión
animal_crackers('Ciudad Calor')

True

In [14]:
# Revisión
animal_crackers('Lugar Frio')

False

#### HACE VEINTE: dados dos enteros, devuelve True si la suma de los enteros es 20 o si uno de los enteros es 20. De lo contrario, devuelve False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [18]:
def makes_twenty(n1,n2):
  #Usamos el operador or para verificar si la suma de los dos números es 20 o si alguno de los números es 20.
  if ((n1 + n2) == 20 or n1 == 20 or n2 == 20):
    return True 
  else :
    return False

In [19]:
# Revisión
makes_twenty(20,10)

True

In [20]:
# Revisión
makes_twenty(2,3)

False

In [21]:
makes_twenty(12,8)

True

# Nivel 1

#### MAYÚSCULAS: Escribir una función que haga mayúscula la primera y cuarta letra de una cadena de texto
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [ ]:
def old_macdonald(name):
    #Usamos slicing para obtener la primera letra del nombre y la letra en la posición 3. 
    #usamos upper() para convertir esas letras a mayúsculas y concatenamos el resultado con el resto del nombre.
    A=name[0:3].capitalize() + name[3:].capitalize()
    return A

In [25]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### REVERSA: Dada una oración, retornar la misma oración pero en reversa

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: Revisar método .join()

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

Resultado de .join():

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [44]:
def master_yoda(text):
    #Usamos split() para dividir el texto en palabras, luego usamos slicing para invertir el orden de las palabras
    palabras = text.split()     
    invertidas = palabras[::-1] # -1 invierte el orden de todas las palabras 
    #Finalmente usamos el join() para unir las palabras en una cadena de texto.
    resultado = ' '.join(invertidas) 
    return resultado

In [ ]:
######

['home', 'am', 'I']

In [28]:
# Revisión
master_yoda('I am home')

'home am I'

In [29]:
# Revisión
master_yoda('We are ready')

'ready are We'

# Nivel 2

#### PROBLEMA 33: 

Dada una lista de enteros, retornar True si el arreglo tinene un  3  seguido por un  3 .

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [31]:
def has_33(nums):
    #Usamos un bucle for para iterar a través de la lista de números y verificamos si el número actual es 3 y el siguiente número también es 3.
    n=len(nums)-1  #acá usamos el -1 para que no se salga de rango
    for i in range(0, n):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [32]:
# Revisión
has_33([1, 3, 3])

True

In [33]:
# Revisión
has_33([1, 3, 1, 3])

False

In [34]:
# Revisión
has_33([3, 1, 3])

False

#### REPLICADOR: Dada una cadena, devuelve una cadena donde por cada carácter en el original hay tres caracteres REPETIDOS
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [45]:
def paper_doll(text):
    #Usamos un bucle for para iterar a través de cada letra en el texto y concatenamos cada letra tres veces a una nueva cadena de texto
    result = ''
    for letra in text:
        result +=letra*3
    return result

In [37]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [38]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Dados tres enteros entre 1 y 11, si su suma es menor o igual a 21, devuelve su suma. Si su suma excede 21 *y* hay un once, reduce la suma total en 10. Finalmente, si la suma (incluso después del ajuste) excede 21, devuelve 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [39]:
def blackjack(a,b,c):
    total = sum([a,b,c]) #Usamos la función sum() para calcular la suma de los tres números
    if total <= 21:
        return total
    #Si la suma es mayor que 21 y hay un 11 entre los números, restamos 10 de la suma. 
    elif 11 in [a,b,c] and total - 10 <= 21:
        return total - 10
    else:
        return 'BUST' #Si la suma sigue siendo mayor que 21, devolvemos 'BUST'.

In [40]:
# Revisión
blackjack(5,6,7)

18

In [41]:
# Revisión
blackjack(9,9,9)

'BUST'

In [42]:
# Revisión
blackjack(9,9,11)

19

## Suerte!

gracias